header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: plum;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.header-buttons button {
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    padding: 1rem;
    background-color: #6a0dad;
    text-align: center; 
}

h1 {
    margin: 0; 
    align-self: center; 
    margin-top: 100px;
    padding-top: 100px;
}


footer {
    padding: 1rem;
    color: white;
    text-align: left;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    color:white;
    width: 100%;
    text-align: right;
   
}

footer a:hover {
    text-decoration: underline;
}

.menu-button, .login-button, .signup-button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #8a2be2; 
    color: rgb(71, 67, 67);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:hover, .login-button:hover, .signup-button:hover {
    background-color: #7b68ee; 
}

header, footer {
    background-image: url('form.jpg');
    background-size: cover;
    background-position: center;
}
