#optionsInput {
    position: relative;
    background-color: #B2DAE6;
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
    margin-left : 78vh;
}

h1 {
    position : relative;
    text-align: center;
}

button {
    text-align: center;
    border : none;
    background-color: #FC9CE4;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    margin-left : 50px;
}

button:hover {
    background-color : #db04ac;
}

#matchups {
    margin-top: 20px;
}

.matchup {
    margin-bottom: 10px;
}

.vote-button {
    margin-left: 10px;
}